.layout {
  min-height: 100vh;
  background: #3A3A3A;
  padding: 20px;

  &.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}