.container {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;

    .title {
        font-size: 48px;
        font-weight: 500;
        color: var(--primary-color);
    }

    .logo {
        height: 72px;
        margin: 0 auto;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.error {
    color: #dc3545;
    background: #ffe6e6;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #dc3545;
    text-align: center;
}