.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  min-width: auto !important;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  
  svg {
    width: 100%;
    height: 100%;
  }
}
